<div class="container">
    <div class="row  m-auto">
        <div class="col mt-5">
            <table class="table table-hover text-center">
                <thead class="thead-dark">
                    <th>ID</th>
                    <th>Nombre de Ususario</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each T_usuario}}
                    <tr>
                        <td>{{idUsuario}}</td>
                        <td>{{user}}</td>
                        <th>
                            <a href="/users/single/{{idUsuario}}" class="btn btn-link">Ver más</a>
                        </th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>